<div class="grid grid-cols-1 gap-x-1 gap-y-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-4 my-8 cursor-pointer">

    <a  class="block group leading-normal border-l-2 hover:border-l-ebelierGreen max-w-sm p-6 bg-gray-50 border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/images/icones/accueil/icones/ventes_jour.svg" alt="">
            <h5 class="mb-2 ms-3  text-base font-light text-black tracking-tight group-hover:font-normal ">Ventes du jours </h5>
        </div>
        <p class="  font-normal group-hover:text-ebelierGreen group-hover:font-bold text-black text-start mt-4 ">200 000 Tonnes</p>
    </a>

    <a  class="block group leading-normal border-l-2 p-6 bg-gray-50 hover:border-l-ebelierGreen border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/images/icones/accueil/icones/ventes_mois.svg" alt="">
            <h5 class="mb-2 ms-3  tracking-tight text-base font-light text-black group-hover:font-normal">Ventes du mois </h5>
        </div>
        <p class="font-normal group-hover:text-ebelierGreen group-hover:font-bold text-black text-start mt-4 ">900 000 Tonnes</p>
    </a>

    <a  class="block group leading-normal border-l-2 p-6 bg-gray-50 hover:border-l-ebelierGreen border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/images/icones/accueil/icones/commandes_mois.svg" alt="">
            <h5 class="mb-2 ms-3  text-base font-light text-black tracking-tight group-hover:font-normal ">Nombre de commandes du mois </h5>
        </div>
        <p class="font-normal text-black group-hover:text-ebelierGreen group-hover:font-bold text-start mt-4 ">200 000 Tonnes</p>
    </a>

    <a  class="flex flex-col  max-w-xs items-center  border border-gray-50  rounded-2xl shadow md:flex-row hover:bg-gray-100 ">
        <img class="object-cover  m-3  rounded-t-lg bg-white md:h-auto md:rounded-none md:rounded-l-lg" src="../../../../../assets/images/icones/accueil/icones/ciment.svg" alt="">
        <div class="flex flex-col  justify-between h-full bg-gray-50 rounded-r-2xl p-4 leading-normal ">
            <h5 class=" font-normal tracking-wide text-base  text-primary ">Top produits </h5>
            <p class=" font-normal text-gray-700 ">Ciment bélier classique sac CPJ 32,5R </p>
        </div>
    </a>

</div>