<div class="flex justify-between items-start mb-2">
    <div class="text-sm text-gray-400 font-semibold">
      N° de l'autorisation
    </div>
    <div class="font-semibold text-gray-900 dark:text-white">
      {{bcNumber}}
    </div>
  </div>
  <div class="flex justify-between items-start mb-2">
    <div class="text-sm text-gray-400 font-semibold">Mode de livraison</div>
    <div class="font-semibold text-gray-900 dark:text-white">{{ deliveryType }}</div>
  </div>
  <div class="flex justify-between items-start mb-2">
    <div class="text-sm text-gray-400 font-semibold">Chargement</div>
    <div class="font-semibold text-gray-900 dark:text-white">
     {{shippingPointName}}
    </div>
  </div>
  <div class="flex justify-between items-start mb-2">
    <div class="text-sm text-gray-400 font-semibold">Destination</div>
    <div class="font-semibold text-gray-900 dark:text-white">
    {{deliveryPlantName}}
    </div>
  </div>
  <div class="flex justify-between items-start mb-2">
    <div class="text-sm text-gray-400 font-semibold">Conditionnement</div>
    <div class="font-semibold text-gray-900 dark:text-white">
    Gros sac
    </div>
  </div>