<div class="mx-3 my-6 p-4">
  <app-breadcrumb></app-breadcrumb>

  <h1
    class="text-2xl tracking-wide text-left text-primary font-normal mt-2 mb-4"
  >
    Autorisation d'enlevement
  </h1>

  <div class="grid grid-cols-2 gap-4 items-start mx-auto">
    <div class="p-6 bg-white border border-gray-200 rounded-lg">
      <div class="rounded-xl border px-2 py-2">
        <app-cement-product
          *ngIf="blDatas && code"
          #input
          [code]="code"
          [quantity]="quantity"
          [amount]="amount"
          (productEvent)="getProductFromChildComponent($event)"
        ></app-cement-product>
      </div>
    </div>

    <div class="flex-row gap-8 justify-center items-center rounded-lg max-w-sm mb-8">
      <div
        class="grid gap-4 bg-white border border-gray-200 max-w-full p-6 rounded-lg"
      >
        <div>
          <p class="text-base text-gray-900 dark:text-white font-bold">
            Détails commande
          </p>
        </div>
        <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
        <app-delivery-block *ngIf="blDatas" [bcNumber]="bcNumber!" [deliveryType]="bcNumber!" [shippingPointName]="blDatas.shippingPointName" [deliveryPlantName]="blDatas.deliveryPlantName" ></app-delivery-block>
      </div>
    </div>
  </div>

  <div class="flex gap-2 items-start justify-end">
    <button *ngIf="status && status=='Finished'" type="button"
            class=" bg-secondary text-black hover:bg-secondary focus:ring-4  font-sm rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 focus:outline-none dark:focus:ring-yellow-800 w-48">
      Suivre la livraison
    </button>
    <!-- Modal toggle -->
    <!-- Modal toggle -->

    <button type="button"
            data-modal-target="notation-modal" data-modal-toggle="notation-modal"
            class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-sm rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-48">
      Noter la livraison
    </button>

    <!-- Modal toggle -->
<!--    <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">-->
<!--      Toggle modal-->
<!--    </button>-->

  </div>

  <app-notation></app-notation>

</div>
