<div class="flex flex-col justify-center mx-6 mb-12 ">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <div>
            <button type="button" (click)="previous()" class="text-ebelierGrey bg-white  border-ebelierGrey border focus:ring-4 focus:outline-none focus:ring-ebelierGrey font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2  ">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                </svg>
                <span class="sr-only">Back</span>
            </button>
        </div>
        <img class="mx-auto h-20 w-auto" src="../../../../../assets/icons/password1.svg" alt="Your Company">
        <h2 class="mt-5 text-center text-xl font-normal tracking-wide text-ebelierBlack">OTP</h2>
        <div class="p-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert" *ngIf="userError$ | async as error">
          <span class="font-medium" >Login Failed!</span> {{ error }} 
        </div>
        <p class="mt-3 text-center block text-sm font-normal leading-6 text-ebelierGrey">Veuillez entrer le code reçu par sms au {{phoneNumber}}</p>
        
    </div>
  
    <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" >
        <div>
            <div id="otp" class="flex flex-row justify-center text-center px-2 mt-3">
                <input class="m-2 border focus:ring-primary focus:border-primary h-10 w-10 text-center form-control rounded-lg" type="text" name="first" [(ngModel)]="otp[0]" (input)="focusNext($event, 1)" (keydown.backspace)="onBackspace($event)" maxlength="1" /> 
                <input class="m-2 border focus:ring-primary focus:border-primary h-10 w-10 text-center form-control rounded-lg" type="text" name="second" [(ngModel)]="otp[1]" (input)="focusNext($event, 2)" (keydown.backspace)="onBackspace($event)" maxlength="1" /> 
                <input class="m-2 border focus:ring-primary focus:border-primary h-10 w-10 text-center form-control rounded-lg" type="text" name="third" [(ngModel)]="otp[2]" (input)="focusNext($event, 3)" (keydown.backspace)="onBackspace($event)" maxlength="1" /> 
                <input class="m-2 border focus:ring-primary focus:border-primary h-10 w-10 text-center form-control rounded-lg" type="text" name="fourth" [(ngModel)]="otp[3]" (input)="focusNext($event, 4)" (keydown.backspace)="onBackspace($event)" maxlength="1" />
                <input class="m-2 border focus:ring-primary focus:border-primary h-10 w-10 text-center form-control rounded-lg" type="text" name="fifth" [(ngModel)]="otp[4]" (input)="focusNext($event, 5)" (keydown.backspace)="onBackspace($event)" maxlength="1" /> 
                <input class="m-2 border focus:ring-primary focus:border-primary h-10 w-10 text-center form-control rounded-lg" type="text" name="sixth" [(ngModel)]="otp[5]" (input)="focusNext($event, 6)" (keydown.backspace)="onBackspace($event)" maxlength="1" />
            </div>
        </div>
  
        <div>
          <button type="submit" (click)="onSubmit()" class="flex w-full justify-center tracking-wide rounded-md bg-secondary px-5 py-2 text-lg font-light leading-6 text-primary shadow-sm hover:bg-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
            <svg aria-hidden="true" *ngIf="isLoading" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
            </svg>
            Se connecter
          </button>
        </div>
      </form>
      <p class="mt-3 text-right text-sm text-gray-500">
        <a href="#" class="font-normal leading-6 tracking-wide text-primary hover:text-indigo-500">RENVOYER LE CODE</a>
      </p>
    </div>
</div>