
<h1 class="text-xl tracking-wide text-left text-ebelierLight font-normal mt-3">Actions Rapides </h1>
<div class="grid grid-cols-1 gap-x-4 gap-y-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 xl:gap-x-6 my-4 ">

    <a  class="cursor-pointer block group leading-normal border-l-2  max-w-sm p-4  border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/icones/accueil/icones/newcom.svg" class="w-10" alt="">
        </div>
        <p class=" font-semibold text-primary text-start mt-2 ">Nouvelle Commande</p>
    </a>

    <a [routerLink]="['/suivi-commande']" routerLinkActive="router-link-active"   class="cursor-pointer block group leading-normal border-l-2 p-4  border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/icones/accueil/icones/suivicom.svg" class="w-10" alt="">
        </div>
        <p class="font-semibold  text-primary text-start mt-2 ">Suivi Commande</p>
    </a>

    <a  class="cursor-pointer block group leading-normal border-l-2 p-4 border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/icones/accueil/icones/transactions.svg" class="w-10" alt="">
        </div>
        <p class="font-semibold text-primary  text-start mt-2 ">Mes Transactions</p>
    </a>

    <a  class="cursor-pointer block group leading-normal border-l-2 p-4 border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/icones/accueil/icones/factures.svg" class="w-10" alt="">
        </div>
        <p class="font-semibold text-primary  text-start mt-2 ">Mes Factures</p>
    </a>

    <a  class="cursor-pointer block group leading-normal border-l-2 p-4  border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/icones/accueil/icones/bonliv.svg" class="w-10" alt="">
        </div>
        <p class="font-semibold text-primary  text-start mt-2 ">Mes Bons de livraison</p>
    </a>

    <a  class="cursor-pointer block group leading-normal border-l-2 p-4   border border-gray-200 rounded-2xl shadow hover:shadow-lg hover:bg-white ">
        <div class="flex items-center">
            <img src="../../../../../assets/icones/accueil/icones/serviceclient.svg" class="w-10" alt="">
        </div>
        <p class="font-semibold text-primary text-start mt-2 ">Service Client</p>
    </a>
</div>