.active{

        --tw-bg-opacity: 1;
        background-color: rgb(255 237 0 / var(--tw-bg-opacity));
    
}

.sidebar-label{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    //font-family: ;
}